html,body{
  height: 100%;
  background-color: #FAFAFA;
}
.home {
  background-color: #FAFAFA;
  padding-top: 6rem;
}
.header {
  width: 100%;
	height: 50px;
  padding-top: 8px;
	background-color: #FFFFFF;
	border: solid 1px #DBDBDB;
  text-align: center;
}
.logo {
  float: left;
}
.search {
  width: 25%;
  min-width: 250px;
	height: 30px;
	border-radius: 100px;
	background-color: rgba(250, 250, 250, 0.1);
	border: solid 1px #EDEDED;
  margin-left: auto;
  margin-right: auto;
}
.content, .container {
  background-color: #FFFFFF;
  width: 100%;
  padding-bottom: 15px;
  padding: 2%;
}

/*Title subtitle styles*/
.title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
	font-family: Montserrat;
	font-size: 70px;
	font-weight: 800;
	color: #E1E1E1;
}
.subtitle {
	width: 100%;
	height: 19px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	color: #AAB8C2;
  margin: 0 auto;
  text-align: center;
}
.new-article{
  color: #CA1323;
}
.add-content{
  color: #AAB8C2;
}
.new-article, .add-content {
  text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
  margin: 15px auto;
}

/* add article and content button style*/
.add-new-article {
  background: url('../images/AddRed.svg');
}
.add-new-content {
  background: url('../images/AddGrey.svg');
}
.add-new-article, .add-new-content {
  margin-top: 50px;
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.add-new-article:hover, .add-new-content:hover {
  background-size: 90%;
}
.add-btn{
  width: 51px;
  height: 51px;
  cursor: pointer;
}

/*input area styles*/
.input-style {
	width: 100%;
	height: 38px;
  padding-left: 2rem;
	border-radius: 30px;
	background-color: #FFFFFF;
	border: solid 0.8px #CDD1D9;
}
.input-title {
	height: 13px;
	font-family: Montserrat;
	font-size: 10px;
	font-weight: bold;
	color: #CA1323;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

/*layouts choosen styles*/
.title-layout {
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	text-align: center;
	color: #343441;
  text-align: center;
}
.layout-block, .section-block {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #FFFFFF;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
.section-content{
  width: 100%;
  height: 185.9px;
	border-radius: 5px;
	border: solid 0.8px #CDD1D9;
}
.section-title{
  text-align: center;
  display: flex;
  align-items: center;
}
.title-section {
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	text-align: center;
	color: #343441;
}
.delete-btn {
  opacity: 0;
  width: 149.6px;
	height: 32px;
	border-radius: 30px;
	background-color: #AAB8C2;
  float: right;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  color: #FFFFFF;
  padding-top: 10px;
  transition: opacity .35s ease;
}
.delete-btn:hover {
  background: #E3E3E3;
  color: #000000;
}
.section-block:hover .delete-btn {
  opacity: 1;
}

textarea:focus, input:focus{
    outline: none;
}
input, textarea {
  padding-left: 2rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A8ADB6;
  height: 27px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A8ADB6;
  height: 27px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A8ADB6;
  height: 27px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #A8ADB6;
  height: 27px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

/* cell style for layout*/
.layout-title {
  display: inline-block;
  margin-top: 9.5rem;
	height: 22px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #343441;
}
.layoutlist {
  font-size: 60px;
  text-align: center;
  margin: 1rem 4rem;
}
.layout-icon-style {
  margin: 15px ;
  cursor: pointer;
	height: 90px;
	border-radius: 5px;
	background-color: #FAFAFA;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}


/* layout icon background style*/
.calltoaction {
  background: url('../images/CallToAction.svg');
}
.facebook {
  background: url('../images/Facebook.svg');
}
.grid {
  background: url('../images/Grid.svg');
}
.imagefull {
  background: url('../images/Imagefull.svg');
}
.imageleft {
  background: url('../images/Imageleft.svg');
}
.imageright {
  background: url('../images/Imageright.svg');
}
.quote {
  background: url('../images/Quote.svg');
}
.titletext {
  background: url('../images/Title+Text.svg');
}
.twitter {
  background: url('../images/Twitter.svg');
}
.twocolumn {
  background: url('../images/Twocolumn.svg');
}
.calltoaction, .facebook, .grid, .imagefull, .imageleft, .imageright, .quote, .titletext, .twitter, .twocolumn {
  position: absolute;
  top: 15px;
  left: 0;
  height: 90px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.calltoaction:hover, .facebook:hover, .grid:hover, .imagefull:hover, .imageleft:hover, .imageright:hover, .quote:hover, .titletext:hover, .twitter:hover, .twocolumn:hover {
  opacity: 1;
}

/*upload file button styles */
.custom-file-input {
  position: absolute;
  top:38px;
  right:0;
  width: 122px;
  padding-right: 18px;
}
.custom-file-input input {
	visibility: hidden;
}
.custom-file-input:before {
	border-radius: 30px;
	content: 'CHOOSE FILE';
	display: block;
	background: #AAB8C2;
	font-family: Montserrat;
	font-size: 10px;
	font-weight: 400;
	color: #FFFFFF;
	padding: 9px 0px;
	cursor: pointer;
	text-align: center;
}
.custom-file-input:hover:before {
	background: #E3E3E3;
  border-radius: 30px;
  color: #000000;
  font-size: 10px;
	font-weight: bold;
}
.message {
  margin-top: 15px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 698px) {
  .title {
  	font-size: 48px;
  	font-weight: 600;
  }
}
@media (max-width: 568px) {
  .calltoaction, .grid, .imagefull, .imageleft, .imageright, .quote, .titletext, .twitter, .twocolumn {
    background-size: 50%;
  }
  .facebook {
    background-size: 15%;
  }
  .layout-title {
  	height: 18px;
  	font-size: 10px;
  }
}
