html,body{
  height: 100%;
  background-color: #fafafa;
}
.home {
  background-color: #fafafa;
}
.content, .container {
  background-color: #fff;
  width: 100%;
  padding-bottom: 15px;
  padding: 15px 150px;
}
.news-manager {
	width: 629px;
	height: 86px;
	font-family: Montserrat-ExtraBold;
	font-size: 70px;
	font-weight: 800;
	color: #e1e1e1;
  margin: 0 auto;
  text-align: center;
}
.placeholder-origin-f {
	width: 416px;
	height: 19px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
	color: #aab8c2;
  margin: 0 auto;
  text-align: center;
}
.add {
	width: 51px;
	height: 51px;
}
.add-btn {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}
.new-article {
	width: 117px;
	height: 19px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
	color: #ca1323;
  margin: 0 auto;
}
.rectangle-388-copy-8 {
	width: 100%;
	height: 38px;
	border-radius: 30px;
	background-color: #ffffff;
	border: solid 0.8px #cdd1d9;
}
.rectangle-388-copy-6 {
	width: 100%;
	height: 38px;
	border-radius: 30px;
	background-color: #ffffff;
	border: solid 0.8px #cdd1d9;
}
.article-title {
	height: 13px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 800;
	color: #ca1323;
  padding: 15px;
  margin-bottom: 5px;
}
.add-content {
	width: 122px;
	height: 19px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
	color: #aab8c2;
  margin: 0 auto;
}
.layout-style {
  margin: 15px;
  width: 100%;
  height: 100px;
}
.choose-your-layout-s {
	height: 22px;
	font-family: Montserrat;
	font-size: 18px;
	text-align: center;
	color: #343441;
  text-align: center;
}
textarea:focus, input:focus{
    outline: none;
}
input {
  padding-left: 20px;
}
.layout-block, .section-block {
  /*margin-top: 25px;*/
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.section-content{
  width: 100%;
  height: 185.9px;
	border-radius: 5px;
	border: solid 0.8px #cdd1d9;
}
.section-title{
  text-align: center;
  display: flex;
  align-items: center;
}
.delete-btn {
  opacity: 0;
  width: 149.6px;
	height: 32px;
	border-radius: 30px;
	background-color: #aab8c2;
  float: right;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 900;
  color: #ffffff;
  padding-top: 10px;
  transition: opacity .35s ease;
}
.section-block:hover .delete-btn {
  opacity: 1;
}
